<body>
    <div class="pimg1">
      <div class="ptext">
        <span class="border"> Heaven Homes</span>
      </div>
    </div>

    <section class="section section-light">
      <h2>Section One</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, ad
        necessitatibus rerum maxime doloremque nam cum excepturi impedit
        similique! Consectetur ullam quo doloremque, odio accusantium earum
        quaerat itaque fuga sapiente.
      </p>
    </section>

    <div class="pimg2">
      <div class="ptext">
        <span class="border trans"> Image two text </span>
      </div>
    </div>

    <section class="section section-dark">
      <h2>Section two</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, ad
        necessitatibus rerum maxime doloremque nam cum excepturi impedit
        similique! Consectetur ullam quo doloremque, odio accusantium earum
        quaerat itaque fuga sapiente.
      </p>
    </section>

    <div class="pimg3">
      <div class="ptext">
        <span class="border trans"> Image two text </span>
      </div>
    </div>

    <section class="section section-dark">
      <h2>Section Three</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, ad
        necessitatibus rerum maxime doloremque nam cum excepturi impedit
        similique! Consectetur ullam quo doloremque, odio accusantium earum
        quaerat itaque fuga sapiente.
      </p>
    </section>

    <div class="pimg1">
        <div class="ptext">
          <span class="border"> Parallex Website </span>
        </div>
      </div>
  </body>
