<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Add Booking">
    <form [formGroup]="addBookingForm" novalidate (ngSubmit)="onSubmit()" >
      <mat-card class="booking-card">
        <mat-card-header>
          <mat-card-title>ADD BOOKING </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Check-In-Date</mat-label>
                <input matInput placeholder="Check-in Date" type="date" formControlName="checkInDate" >
                <mat-error *ngIf="addBookingForm.controls['checkInDate'].hasError('required')">
                  Check-In-Date is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Check-Out-Date</mat-label>
                <input matInput placeholder="Check-Out Date" type="date" formControlName="checkOutDate" >
                <mat-error *ngIf="addBookingForm.controls['checkOutDate'].hasError('required')">
                  Check-Out-Date is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Number Of Nigts</mat-label>
                <input matInput type="number" placeholder="Number Of Nights" formControlName="numberOfNights" >
              </mat-form-field>
            </div>
            
          </div>

          <div class="row">

            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Room ID</mat-label>
                <mat-select placeholder="Room Name" formControlName="roomNo">
                  <mat-option *ngFor="let rm of room" [value]="rm">
                    {{ rm }}
                  </mat-option>
                  </mat-select>
                  <mat-error *ngIf="addBookingForm.controls['roomNo'].hasError('required')">
                    Room No is <strong>required</strong>
                  </mat-error>
                  <mat-icon matSuffix>meeting_room</mat-icon>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Room Name</mat-label>
                <mat-select placeholder="Room Name" formControlName="roomName">
                  <mat-option *ngFor="let room of rooms" [value]="room">
                    {{ room }}
                  </mat-option>
                  </mat-select>
                  <mat-error *ngIf="addBookingForm.controls['roomName'].hasError('required')">
                    Room Name is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Price</mat-label>
                <mat-select placeholder="Bed Type" formControlName="price" >
                  <mat-option *ngFor="let price of prices" [value]="price">
                    {{ price }}
                  </mat-option>
                  </mat-select>
                  <mat-error *ngIf="addBookingForm.controls['price'].hasError('required')">
                    Price is <strong>required</strong>
                  </mat-error>
                  <mat-icon matSuffix>sell</mat-icon>
              </mat-form-field>
            </div>

          </div>

          <mat-card-header class="title">
            <mat-card-title>ADD GUEST </mat-card-title>
          </mat-card-header>
          <div  formArrayName="guestDetails" >
            <div  formGroupName="0">
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Guest Id</mat-label>
                    <input matInput placeholder="guestId" formControlName="id" >
                    <mat-icon matSuffix> badge</mat-icon>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Guest Name</mat-label>
                    <input matInput placeholder="guest Name" formControlName="guestName" >
                    <mat-icon matSuffix>account_circle</mat-icon>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>gender</mat-label>
                    <input matInput  placeholder="gender" formControlName="gender" >
                  </mat-form-field>
                </div>
    
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Designation</mat-label>
                    <input matInput placeholder="designation" formControlName="designation" >
                    <mat-icon matSuffix>article</mat-icon>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email" formControlName="email" >
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput  placeholder="Mobile number" formControlName="mobile" >
                    <mat-icon matSuffix> phone_android</mat-icon>
                  </mat-form-field>
                </div>
    
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Address" formControlName="address" >
                    <mat-icon matSuffix> fmd_good</mat-icon>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Identity Type</mat-label>
                    <input matInput placeholder="Identity Type" formControlName="identityType" >
                    <mat-icon matSuffix> badge</mat-icon>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Identity Number</mat-label>
                    <input matInput placeholder="Identity Number" formControlName="identityNumber">
                    <mat-icon matSuffix> badge</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <mat-card-actions align="end">
                <button mat-raised-button color="primary">Add Another Guest</button>
              </mat-card-actions>

            </div>
          </div>

          <div class="row">

            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Mobile Number For Notifications</mat-label>
                <input matInput  placeholder="Mobile number for Notifications" formControlName="number" >
                <mat-icon matSuffix> phone_android</mat-icon>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Payment Mode</mat-label>
                <mat-select placeholder="Payment Mode" formControlName="paymentMode">
                  <mat-option *ngFor="let payment of payments" [value]="payment">
                    {{ payment }}
                  </mat-option>
                  </mat-select>
                  <mat-error *ngIf="addBookingForm.controls['roomName'].hasError('required')">
                    Payment Mode is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Total Amount</mat-label>
                <input matInput  placeholder="Total Amount" formControlName="totalAmount" >
                <mat-icon matSuffix>sell</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <mat-card-actions align="end">
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </mat-card-actions>

        </mat-card-content>

      </mat-card>
    </form>  
    
  </mat-tab>
  <mat-tab label="All Bookings">
    <mat-card class="booking-card">
      <mat-card-header>
        <mat-card-title> SEARCH Booking </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Search any Field</mat-label>
                  <input matInput placeholder="Ex:BookingID" (keyup)="applyFilter($event)" #input >
                  <mat-icon matSuffix> search</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking ID</th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="checkInDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>CheckInDate </th>
              <td mat-cell *matCellDef="let row"> {{row.checkInDate}} </td>
            </ng-container>

            <ng-container matColumnDef="checkOutDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CheckOutDate </th>
              <td mat-cell *matCellDef="let row"> {{row.checkOutDate}} </td>
            </ng-container>
        
            <ng-container matColumnDef="roomNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Room Number</th>
              <td mat-cell *matCellDef="let row"> {{row.roomNo}} </td>
            </ng-container>

            <ng-container matColumnDef="totalAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </th>
              <td mat-cell *matCellDef="let row"> {{row.totalAmount}} </td>
            </ng-container>

            <ng-container matColumnDef="paymentMode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PaymentMode </th>
              <td mat-cell *matCellDef="let row"> {{row.paymentMode}} </td>
            </ng-container>

            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
              <td mat-cell *matCellDef="let row"> {{row.number}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="Delete(row.id)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>



      </mat-card-content>
    </mat-card>

      
    

  </mat-tab>
  <mat-tab label="Occupied" *ngIf="show">
    <mat-card class="booking-card">
      <mat-card-header>
        <mat-card-title> SEARCH BOOKING</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Search any Field</mat-label>
                  <input matInput placeholder="Ex:BookingID" (keyup)="applyFilter($event)" #input >
                  <mat-icon matSuffix> search</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="checkdataSource" matSort>
        
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking ID</th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="checkInDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>CheckInDate </th>
              <td mat-cell *matCellDef="let row"> {{row.checkInDate}} </td>
            </ng-container>

            <ng-container matColumnDef="checkOutDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CheckOutDate </th>
              <td mat-cell *matCellDef="let row"> {{row.checkOutDate}} </td>
            </ng-container>
        
            <ng-container matColumnDef="roomNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Room Number</th>
              <td mat-cell *matCellDef="let row"> {{row.roomNo}} </td>
            </ng-container>

            <ng-container matColumnDef="totalAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </th>
              <td mat-cell *matCellDef="let row"> {{row.totalAmount}} </td>
            </ng-container>

            <ng-container matColumnDef="paymentMode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PaymentMode </th>
              <td mat-cell *matCellDef="let row"> {{row.paymentMode}} </td>
            </ng-container>

            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
              <td mat-cell *matCellDef="let row"> {{row.number}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="Delete(row.id)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
      
    

  </mat-tab>
</mat-tab-group>

<!-- <p>{{addBookingForm.value | json}} </p> -->

<!-- <p>{{addRoomForm.value | json}}</p>  -->

<router-outlet></router-outlet>

